# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Generated Audio Files
static/*.mp3

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache

# mypy
.mypy_cache
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
logs/
*.log
